//header background color//
$headerColor: pink;
//content background color//
$contentColor: lightblue;
//sidebar background color//
$sidebarColor: lightgreen;

body{
    background-image: url(/image/background.jpg);
}