// ---- header background color ---- //
$headerColor: rgb(0, 0, 230);
// ---- content background color ---- //
$contentColor: rgb(51, 51, 255);
// ---- sidebar background color ---- //
$sidebarColor: rgb(102, 102, 255);
// ---- font header colors ---- //
$primaryColor: white;
$secondaryColor: yellow;
// ---- font article color ---- //
$articleColor: white;
// ---- BODY BACKGROUND ---- //
body{
    background-image: url(/image/background.jpg);
}