.c-article {
    &__header {
    }

    &__image {}

    &__lead {
        height: auto;
        margin: 25px;
        padding: 10px;
    }

    &__content {
        height: auto;
        margin: 25px;
        padding: 10px;
    }
}