.c-header{
    position: fixed;
    right: 20%;
    left: 20%;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 25px;
    align-items: center;
    border-radius: 20px;
    background: $headerColor;
    color: $articleColor;
}