.c-content{
    text-align: center;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 50px;
    padding: 20px;
    width: 70%;
    border-radius: 20px;
    background: $contentColor;
    color: $articleColor;
}