.c-navigation {
    &__list {
        display: flex;
        list-style-type: none;
    }
    
    &__items{}

    &__link {
        align-items: center;
        text-decoration: none;
        padding: 10px;
    }
    &__link:hover{
        background: lightblue;
        color: black;
        border-radius: 15px;
    }
}