.o-image {
    &__pic {
        margin: auto;
        margin-left: 10px;
        padding: 0;
        width: 150px;
        height: 60px;
    }

    &__desc {
        margin: auto;
        margin-left: 10px;
        padding: 0;
    }

    &--rounded {}

    &--centered {}
}