.o-image {
    &__headerpic {
        margin: auto;
        margin-left: 10px;
        padding: 0;
        width: 150px;
        height: 60px;
    }
    &__headerdesc {
        margin: auto;
        margin-left: 10px;
        padding: 0;
    }

    &__articlepic{
        margin: auto;
        width: 90%;
        height: 350px;
        border-radius: 20px;
        border: 3px solid black;
    }
    &__articledesc{
        margin-bottom: 25px;
    }

    &__avatarpic{
        width: 150px;
        height: 150px;
    }
    &__avatardesc{
        margin-bottom: 25px;
    }

    &--rounded {}

    &--centered {}
}